
/* url("<link rel="preconnect" href="https://fonts.gstatic.com">")
url("<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">") */

body {
    background-color: #43aa8b;
    margin: 0px;
    padding: 0px;
    text-align: center;
    margin-top: 2%;
    font-family: 'Noto Sans JP', sans-serif;
   
}


.refreshdiv{
  position: relative;
  top: 42px;
  margin: 10px;
  padding: 5px;
  display: flex;
  max-width: fit-content;
  max-height: fit-content;
  text-align: center;
  border-radius: 5%;
  background-color: green;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}

.refreshdiv:hover{
  transform: scale(1.10);
  -webkit-transform: scale(1.10);
  -moz-transform: scale(1.10);
  -ms-transform: scale(1.10);
  -o-transform: scale(1.10);
}

.resetdiv{
  margin: 10px;
  padding: 5px;
  display: flex;
  max-width: fit-content;
  max-height: fit-content;
  text-align: center;
  border-radius: 5%;
  margin-left: 72%;
  background-color: green;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}

.resetdiv:hover{
  transform: scale(1.10);
  -webkit-transform: scale(1.10);
  -moz-transform: scale(1.10);
  -ms-transform: scale(1.10);
  -o-transform: scale(1.10);
}

.hashtagdiv{
  position: fixed;
  top: 70px;
  margin: 10px;
  padding: 5px;
  display: flex;
  text-align: center;
  border-radius: 5%;
  margin-left: 19%;
  background-color: green;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%; 
}

.hashtagdiv:hover{
  transform: scale(1.10);
  -webkit-transform: scale(1.10);
  -moz-transform: scale(1.10);
  -ms-transform: scale(1.10);
  -o-transform: scale(1.10);
}



.main_div{
  width: 600px;
  min-height: 500px;
  border: 1px solid black;
  text-align: center;
  background-color: white;
  opacity: 0.8;
  border-radius: 10px;
  margin: auto;
  justify-content: center;

}

.resetTag{
  margin-left: 200px;
}

.center_div{
  border-radius: 15px;
  margin: 20px;
  
}

h1{
 background-color: deepskyblue;
 color: white;
 font-family: 'Gloria Hallelujah', cursive;
}



input{
  margin: 0px;
  width: 55%;
  height: 30px;
  font-size: 20px;
  outline: none;
  border: white;
  border-bottom: 2px solid #8566aa;
  
}

li{
  text-transform: capitalize;
  font-size: 20px;
  display: flex;
  text-align: left;
  mask-type: alpha;
  align-items: center;
  padding: 5px;
}

button{
  color: green;
}

.todo_style{
  display: flex;
  margin-left: 12%;
  padding: 2px;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

button:hover{
  transform: scale(1.10);
  -webkit-transform: scale(1.10);
  -moz-transform: scale(1.10);
  -ms-transform: scale(1.10);
  -o-transform: scale(1.10);
}


